@import '../../styles/basics/mixin';
:global {
	.home-content-list {
    //common
    .content-template-wrapper {
      position: relative;
      @include size(100%,98vh);
      background: $default-background-color;
      border-color: $template-footer-text-color;
      padding: 3.5% 0;
      height: auto;
      .content-template {
        @include square(100%);
        max-width: 1300px;
        min-height: 25rem;
        margin: auto;
        position: relative;
        & > h1, & > p {
          text-align: center;
          @include custom-position(relative,$top:10%);
        }
        h1 {
          font-size: $default-content-fz-xl;
          font-weight: normal;
          color: $template-h1-color;
          line-height: rem(48px);
        }
        > p {
          font-size: $default-content-fz-nl;
          margin: 1.4rem auto;
          max-width: 52%;
        }
      }
    }
    .content-half-wrapper {
      height: 50vh;
    }
    //content1
		.content1 {
      &-wrapper {
        .content1 {
          &-contentWrapper {
            position: relative;
            top: 20%;
            height: 60%;
            ul {
              > li {
                display: inline-block;
                width: 33.33%;
                padding: 6% 5% 0;
                vertical-align: top;
                .img {
                  display: inline-block;
                  width: 15%;
                  vertical-align: top;
                }
                i {
                  font-size: 2.8rem;
                  vertical-align: middle;
                  width: 15%;
                  color: $link-color;
                  opacity: 0.8;
                  &:hover {
                    color: $link-hover-color;
                  }
                }
                .text {
                  width: 85%;
                  display: inline-block;
                  padding-left: 8%;
                  margin-top: -1.8%;
                }
              }
            }
          }
        }
      }
    }
    //content2
    .content2 {
      &-wrapper {
        padding-top: 1%; 
        .content2 {
          &-video {
            border-radius: 7px;
            overflow: hidden;
            width: 90%;
            max-width: 960px;
            @include custom-position(relative,$top:0);
            margin: 3% auto 0;
            box-shadow: 0 2px 6px rgba($dark-color, .2);
            video {
              display: inherit;
            }
          }
        }
      }
    }
    //content3
    .content3 {
      &-wrapper {
        .content3 {
          &-tag {
            & i {
              width: 14px;
              height: 14px;
              display: inline-block;
              vertical-align: middle;
              margin-right: 5px;
              img {
                vertical-align: top;
              }
            }
          }   
          &-tabs {
            position: relative;
            top: 12%;
            :global(.ant-tabs) {
              &-bar {
                width: 80%;
                margin: auto;
                .ant-tabs-nav {
                  &-container {
                    float: none;
                    text-align: center;
                  }
                }
              }
              &-content {
                > .ant-tabs-tabpane {
                  margin-top: 1.8rem;
                }
              }
            }
          }
          &-text, &-img {
            width: 35%;
            display: inline-block;
            position: relative;
          }
          &-text {
            left: 10%;
            padding-top: 20px;
            & h3 {
              margin: 10px auto;
            }
            & p {
              margin-bottom: 30px;
            }
          }
          &-img {
            vertical-align: top;
            float: right;
            right: 10%;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .content1-wrapper {
    .content1 {
      // width: 90%;
      h1 {
        font-size: $default-content-fz-md;
      }
    }
  }
  //
  .content2-wrapper {
    height: auto;
    padding: 8% 0 12% 0;
    .content2 {
      overflow: hidden;
      width: 90%;
      margin: auto;
      h1 {
        font-size: 24px;
      }
    }
  }
  //
  .content3-wrapper {
    height: auto;
    padding-bottom: 10%;
    overflow: hidden;
    .content3 {
      width: 90%;
      max-width: 100%;
      h1 {
        font-size: 24px;
        top: auto;
        margin: 40px auto 20px;
      }
      > p, &-tabs {
        top: auto;
      }
      &-text, &-img {
        width: 90%;
        left: auto;
        right: auto;
        text-align: left;
        float: none;
      }
      &-img{
        width: 80%;
        max-width: 350px;
        text-align: center;
      }
      :global(.ant-tabs) {
        &-bar {
          width: auto;
          .ant-tabs-nav {
            &-container {
               float: left;
            }
          }
        }
        &-content {
          > .ant-tabs-tabpane {
            text-align: center;
          }
        }
      }
    }
  }
}
@media screen and (min-width:768px) and (max-width:1024px){
  .content1-wrapper {
      .content1 {
        &-contentWrapper {
          ul {
            > li {
              .text {
                padding-left: 14%;
              }
            }
          }
        }
      }
  }
}
@media screen and (max-width: 767px) {
  .content1-wrapper {
    height: auto;
    padding-bottom: 10%;
    .content1 {
      overflow: hidden;
      width: 90%;
      margin: auto;
      > h1, > p {
        position: relative;
        top: auto;
      }
      > h1 {
        margin: 40px auto 20px;
        font-size: 24px;
      }
      &-contentWrapper {
        top: auto;
        margin: 20px auto;
        height: auto;
        ul {
          > li {
            position: relative;
            width: 90%;
            margin: auto;
            display: block;
            h1 {
              font-size: 20px;
            }
            
            &.queue-anim-leaving {
              position: relative !important;
            }
          }
        }
      }
    }
  }
}
