{
  "extends": ["stylelint-config-recommended-scss", "stylelint-config-prettier"],
	"plugins: ["stylelint-scss"],
  "rules": {
		"scss/at-extend-no-missing-placeholder": true
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "block-closing-brace-newline-after": ["always", { "ignoreAtRules": ["if", "else"]}],
    "at-if-closing-brace-newline-after": "always-last-in-chain",
		"block-no-empty": null,
		"selector-pseudo-class-no-unknown": null
  }
}