@import "../../styles/basics/mixin";
//
:global {
  .banner {
    width: 100%;
    position: relative;
    height: 100vh;
    margin-top: -$default-nav-height;
    &-wrapper, .banner-anim {
      height: 100%;
    }
    & .queue-anim-leaving {
      position: relative !important;
      width: auto;
    }
    .banner-user-elem {
      height: 100%;
      color: $default-background-theme;
      position: relative;
      overflow: hidden;
    }
    .bg {
      @include square(100%);
      @include custom-position(absolute,$top:0,$left:0);
      overflow: hidden;
    }
    .banner-user-elem .banner-user-title {
      font-size: rem(22px);
      top: 40%;
    }
    .banner-user-elem .banner-user-text {
      top: 40%;
    }
    &-title {
      display: block;
      font-size: 100%;
      width: 100%;
      text-align: center;
      color: $template-text-color-light;
      @include custom-position(relative,$top:25%,$left:0,$right:0);
      & .logo {
        width: 350px;
        left: 30px;
        margin: auto;
        display: inline-block;
        position: relative;
      }
      & p {
        margin-bottom: 20px;
        word-wrap: break-word;
      }
      ul {
        @include ul-initialize;
        li {
          display: inline-block;
          &:not(:first-child) {
            margin-left: 4%;
          }
          & button,& a {
            border: 1px solid $default-background-theme;
            color: $default-background-theme;
            background: transparent;
            box-shadow: 0 0 0 transparent;
            transition: background .45s $ease-out, box-shadow .45s $ease-out;
            height: 2.6rem;
            line-height: 2.6rem;
            font-size: $default-content-fz-xs;
            min-width: 9rem;
            & .icon {
              display: inline-block;
            }
            & span {
              text-shadow: 0 0 0 rgba(0, 0, 0, 0);
              transition: text-shadow .45s $ease-out;
            }
            &:hover {
              color: $default-background-theme;
              border-color: $default-background-theme;
              background: rgba(255, 255, 255, 0.1);
              box-shadow: 0 0 10px rgba(50, 250, 255, 0.75);
              & span {
                text-shadow: 1px 1px 3px rgba(0, 0, 0, .35);
              }
            }
          }
        }
      }
    }
    &-icon {
      font-size: 2rem;
      @include custom-position(absolute,$left:50%,$zindex:$default-nav-zindex);
      margin-left: -12px;
      cursor: pointer;
      color: $template-text-color-light;
    }
  }
  .banner-anim-thumb-default span {
    @include square(.8rem);
    border-radius: 10px;
    background: rgba(255, 255, 255, .5);
  }
  @media screen and (max-width: 414px) {
    .banner{
      &-title{
        width: 90%;
        .logo{
          width: 90%;
          left: 0;
        }
      }
      .bg {
        background-attachment: inherit;
      }
    }
  }
}