@import "../../styles/basics/mixin";
//
.headerPopoverContent {
  span {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.65);
    display: block;
    text-align: center;
    padding: 1.2% 0;
  }
  ul {
    @include ul-initialize;
    margin-top: 2%;
    li {
      display: inline-block;
      width: 47%;
      &:first-child {
        margin-right: 6%;
      }
      > img {
        @include square(8.5rem);
      }
    }
  }
}
.avatarSet {
  color: rgba(108, 93, 231, 0.89);
  font-size: 0.85rem;
}
:global {
	.header {
		width: 100%;
		height: $default-nav-height;
    background: transparent;
    @include custom-position(fixed,$top:0);
    transition: all .3s $ease-in-circ;
    &-fixheader {
      background: $default-nav-active-fixed-background; 
    }
		&-logo {
			display: inline-block;
			@include custom-position(absolute,$left:4%);
			width: rem(150px);
			line-height: $default-nav-height;
			& a {
				display: inline-block;
				> img {
					vertical-align: middle;
				}
			}
    }
    &-nav {
      float: right;
      line-height: $default-nav-height;
      position: relative;
      margin-right: 1.5%;
      & .ant-menu-horizontal {
        border-bottom-color: transparent;
      }
      .ant-menu {
        background: transparent;
        color: $template-text-color-light;
        line-height: $default-nav-height;
        li {
          float: left;
          text-align: center;
          min-width: 100px;
          a {
            color: $template-text-color-light;
          }
          i {
            transition: none;
          }
          &:last-child {
            &::after {
              margin-left: 0;
            }
          }
          &::after {
            content:'';
            width: 0;
            height: 2px;
            display: block;
            margin-left: -22%;
            margin-top: -2px;
            background: $default-nav-active-border-color; 
            transition: width .4s $ease-in-out-circ;
          }
          &:hover {
            border-bottom: none;
            border-color: transparent;
            &::after {
              width: 145%;
            }
          }
        }
        .ant-menu-sub {
          background: $template-text-color-light;
          color: rgba($template-footer-text-color, .75);
          overflow: hidden;
          li {
            width: 100%;
            padding: 0 rem(20px);
          }
          &menu-title:hover {
            color: inherit;
          }
        }
        .ant-menu-vertical, .ant-menu-vertical .ant-menu-item {
          border-right: none;
        }
      }
      & .ant-menu-horizontal > .ant-menu-item-selected {
        height: $default-nav-height;
        > a {
          color: $link-active-color;
        }
      }
      & .ant-menu-horizontal > .ant-menu-item-active {
        color: $link-hover-color;
        border-bottom-color: $link-hover-color;
        height: $default-nav-height;
        
      }
    }
    &-nav, &-mobile-nav {
      .ant-menu {
        li i {
          transition: none;
        }
      }
      .menu-contact {
        border-left: 1px solid rgba($line-color, 0.1);
        .anticon {
          font-size: $default-content-fz-xs;
          vertical-align: middle;
        }
        span {
          display: inline-block;
          margin-left: 5px;
          font-size: 12px;
        }
      }
      .menu-user {
        font-size: 1rem;
        border-left: 1px solid rgba($line-color, 0.1);
        .img {
          margin-left: 0;
          img {
            vertical-align: middle;
          }
        }
        span {
          margin-left: 10px;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    .header{
      &-logo {
        z-index: 101;
      }
      &-mobile-nav {
        width: 16px;
        height: 14px;
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 20px;
        &-bar {
          position: relative;
          z-index: 100;
          em {
            display: block;
            width: 100%;
            height: 2px;
            background: $default-background-color;
            margin-top: 4px;
            transition: transform .3s $ease-in-out, opacity .3s $ease-in-out;
          }
          :first-child {
            margin-top: 0;
          }
        }
        &.open {
          .header-mobile-nav-bar {
            em {
              &:nth-child(1) {
                transform: translateY(6px) rotate(45deg);
              }
              &:nth-child(2) {
                opacity: 0;
              }
              &:nth-child(3) {
                transform: translateY(-6px) rotate(-45deg);
              }
            }
          }
          .header-mobile-nav-text {
            opacity: 1;
            pointer-events: auto;
            transition-timing-function: $ease-out;
          }
        }

        &-text {
          position: fixed;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          padding-top: 64px;
          opacity: 0;
          transition: opacity .3s $ease-in;
          pointer-events: none;
          background: $template-h1-color;
          .ant-menu-item-selected {
            border: none;
          }
        }
      }
    }  
  }
}