@import '../../styles/mixin';
:global {
	.home-content-list {
    //common
    .content-template-wrapper {
      position: relative;
      @include size(100%,auto);
      background: $default-background-color;
      border-color: $template-footer-text-color;
      padding: 3.5% 0;
      .content-template {
        @include square(100%);
        max-width: 1280px;
        min-height: 25rem;
        margin: auto;
        position: relative;
        & > h1, & > p {
          text-align: center;
          @include custom-position(relative,$top:10%);
        }
        h1 {
          font-size: $default-content-fz-xl;
          font-weight: normal;
          color: $template-h1-color;
          line-height: rem(48px);
        }
        > p {
          font-size: #{$default-content-fz-xs - .1rem};
          margin: 1.4rem auto;
          max-width: 60%;
          opacity: .85;
        }
      }
    }
    .content-half-wrapper {
      height: 50vh;
    }
    //content1
		.content1 {
      &-wrapper {
        padding-top: 4.5%;
        .content1 {
          width: 88%;
          ul {
            @include ul-initialize;
            > li {
              display: inline-block;
              width: 33.33%;
              padding: 4.5% 3.6% 0;
              vertical-align: top;
              .img {
                display: inline-block;
                width: 15%;
                vertical-align: top;
                > i {
                  font-size: 2.8rem;
                  vertical-align: middle;
                  width: 15%;
                  color: $default-color;
                  opacity: 0.8;
                  &:hover {
                    color: $link-hover-color;
                  }
                }
              }
              .text {
                width: 85%;
                display: inline-block;
                padding-left: 8%;
                margin-top: -1.8%;
                > h1 {
                  font-size: $default-content-fz-lg;
                }
                > p {
                  line-height: $line-height-light-lg;
                }
              }
            }
          }
        }
      }
    }
    //content2
    .content2 {
      &-wrapper {
        padding-top: 2.5%; 
        .content2 {
          &-video {
            border-radius: 7px;
            overflow: hidden;
            width: 90%;
            max-width: 900px;
            @include custom-position(relative,$top:0);
            margin: 3% auto 0;
            box-shadow: 0 2px 6px rgba($dark-color, .2);
            video {
              display: inherit;
            }
          }
        }
      }
    }
    //content3
    .content3 {
      &-wrapper {
        .content3 {
          &-tag {
            & i {
              @include square(1rem);
              display: inline-block;
              vertical-align: middle;
              margin-right: 5px;
              img {
                vertical-align: top;
              }
            }
          }   
          &-tabs {
            padding-bottom: 1.8%;
            .ant-tabs {
              &-bar {
                width: 80%;
                margin: auto;
              }
              &-nav {
                float: none;
                text-align: center;
              }
              &-content {
                > .ant-tabs-tabpane {
                  margin-top: 1.8rem;
                }
              }
            }
          }
          &-text, &-img {
            width: 35%;
            display: inline-block;
            position: relative;
          }
          &-text {
            left: 10%;
            padding-top: 1%;
            & h3 {
              margin: 4.5% auto 2%;
            }
            & p {
              margin-bottom: 30px;
            }
          }
          &-img {
            vertical-align: top;
            float: right;
            right: 10%;
            img {
              width: 100%;
            }
          }
        }
      }
    }
    //content4
    .content4 {
      overflow-x: hidden;
      &-wrapper {
        background-color: $template-bg-color-light-2;
        padding-bottom: 2.5%;
        .content4 {
          padding-bottom: 1%;
          & > h1 {
            margin-top: 2.2%;
          }
          & > p {
            padding-bottom: 1%;
            max-width: 72%;
          }
          //slider
          &-slider {
            padding: 1.5% 6.5% 2.5%;
          }
          &-img-wrapper {
            display: inline-block;
            @include square(100%);
            overflow: hidden;
          }
          &-rate {
            padding-top: 2.5%;
            text-align: center;
            > .ant-avatar-image {
              margin-top: -.65%;
            }
            :global(.ant-rate) {
              line-height: 2;
              padding-left: 1.8%;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    .home-content-list {
      .content-template-wrapper {
        .content-template {
          overflow: hidden;
          width: 98%;
          padding-top: 4%;
          h1 {
            font-size: $default-content-fz-md;
          }
          > p {
            font-size: $default-content-fz-nl;
            max-width: 90%;
          }
        }
      }
      //content1
      .content1 {
        &-wrapper {
          .content1 { 
            ul {
              > li {
                display: block;
                width: 90%;
                margin: auto;
                .text {
                  > h1 {
                    font-size: $default-content-fz-sm;
                  }
                }
              }
            }
          }
        }
      }
      //content2
      .content2 {
        &-wrapper {
          .content2 {
            &-video {
              width: 88%;
            }
          }
        }
      }
      //content3
      .content3 {
        &-wrapper {
          .content3 {
            padding-bottom: 6.5%;
            &-tabs {
              .ant-tabs {
                &-bar {
                  width: auto;
                  .ant-tabs-nav {
                    float: left;
                  }
                }
                &-content {
                  > .ant-tabs-tabpane {
                    text-align: center;
                  }
                }
              }
            }
            &-text, &-img {
              width: 90%;
              left: auto;
              right: auto;
              text-align: left;
              float: none;
            }
            &-img{
              width: 80%;
              max-width: 400px;
              text-align: center;
            }
          }
        }
      }
      //content2
      .content4 {
        &-wrapper {
          padding-bottom: 4.5%;
          .content4 {
            &-slider {
              padding: 1% 10% 2%;
            }
          }
        }
      }
    } 
  }
  @media screen and (min-width:768px) and (max-width:1024px){
    .home-content-list {
      .content-template-wrapper > .content-template {
        padding-top: 10%;
        > p {
          max-width: 75%;
        }
      }
      .content1 {
        &-wrapper {
          .content1 { 
            ul > li {
              padding-left: 1.5%;
              .text {
                padding-left: 15.6%;
                > h1 {
                  font-size: $default-content-fz-lm;
                }
              }
            }
          }
        }
      }
    }
  }
}