@import './custom.less';

@content2: content2;
.@{content2}-wrapper {
    height: auto;
    padding: 5% 0;
  .@{content2} {
    & > h1, & > p {
      position: relative;
      top: 10%;
      text-align: center;
    }
    > h1 {
      line-height: 48px;
    }
    > p {
      max-width: 600px;
      line-height: 24px;
    }
    &-video {
      border-radius: 6px;
      overflow: hidden;
      width: 90%;
      max-width: 830px;
      position: relative;
      top: 6%;
      margin: 4% auto 0;
      box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    }
  }
}

@media screen and (max-width: 767px) {
  .@{content2}-wrapper {
    height: auto;
    padding: 8% 0 12% 0;
    .@{content2} {
      overflow: hidden;
      width: 90%;
      margin: auto;
      h1 {
        font-size: 24px;
      }
    }
  }

}