@import "../../styles/mixin";
//
.headerPopoverContent {
  padding: 0 1%;
  span {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.65);
    display: block;
    text-align: center;
    padding: 1.2% 0;
  }
  ul {
    @include ul-initialize;
    margin-top: 2%;
    li {
      display: inline-block;
      width: 47%;
      &:first-child {
        margin-right: 6%;
      }
      > img {
        @include square(10rem);
      }
    }
  }
}
.avatarVersion {
  color: #b8eded;
  font-size: 0.95rem;
  margin-top: 1.5%;
}
.avatarInfo {
  color: rgba(108, 93, 231, 0.89);
  font-size: 0.95rem;
}
:global {
	.header {
		width: 100%;
		height: $default-nav-height;
    background: transparent;
    &-fixheader {
      background: $default-nav-active-fixed-background;
      @include custom-position(fixed,$top:0,$right:0,$zindex: $default-nav-zindex + 1);
      transition: all .3s $ease-in-circ;
    }
		&-logo {
			display: inline-block;
			margin-left: 4%;
			width: rem(150px);
      line-height: $default-nav-height;
      position: relative;
			& a {
				display: inline-block;
				> img {
					vertical-align: middle;
				}
			}
    }
    &-nav {
      float: right;
      line-height: $default-nav-height;
      position: relative;
      & .ant-menu-horizontal {
        border-bottom-color: transparent;
      }
      .ant-menu {
        background: transparent;
        color: $template-text-color-light;
        line-height: $default-nav-height;
        li {
          float: left;
          text-align: center;
          min-width: 8.5rem;
          a {
            color: $template-text-color-light;
          }
          i {
            transition: none;
          }
          &:last-child {
            &::after {
              margin-left: 0;
            }
          }
          &::after {
            content:'';
            width: 0;
            height: 2px;
            display: block;
            margin-left: -22%;
            margin-top: -2px;
            background: $default-nav-active-border-color; 
            transition: width .4s $ease-in-out-circ;
          }
          &:hover {
            border-bottom: none;
            border-color: transparent;
            &::after {
              width: 145%;
            }
          }
        }
        .ant-menu-sub {
          background: $template-text-color-light;
          color: rgba($template-footer-text-color, .75);
          overflow: hidden;
          li {
            width: 100%;
            padding: 0 rem(20px);
          }
          &menu-title:hover {
            color: inherit;
          }
        }
        .ant-menu-vertical, .ant-menu-vertical .ant-menu-item {
          border-right: none;
        }
      }
      & .ant-menu-horizontal > .ant-menu-item-selected {
        height: $default-nav-height;
        > a {
          color: $link-active-color;
        }
      }
      & .ant-menu-horizontal > .ant-menu-item-active {
        color: $link-hover-color;
        border-bottom-color: $link-hover-color;
        height: $default-nav-height;
        
      }
    }
    &-nav, &-mobile-nav {
      .ant-menu {
        li i {
          transition: none;
        }
      }
      .menu-contact {
        border-left: 1px solid rgba($line-color, 0.1);
        i {
          display: inline-block;
          font-style: normal;
          &:first-child {
            padding-right: .4rem;
          }
        }
      }
      .menu-user {
        font-size: 1rem;
        border-left: 1px solid rgba($line-color, 0.1);
        .img {
          margin-left: 0;
          img {
            vertical-align: middle;
          }
        }
        span {
          margin-left: 10px;
        }
      }
    }
  }
  @media screen and (min-width:767px) and (max-width:1024px){
    .header {
      &-nav {
        .ant-menu > li {
          min-width: 0;     
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .header{
      &-logo {
        z-index: $default-nav-zindex + 1;
      }
      &-mobile-nav {
        cursor: pointer;
        margin: auto;
        @include size(1.3rem,1rem);
        @include custom-position(absolute,$top:#{$default-nav-height/3 + .2rem},$right:rem(20px));
        &-bar {
          position: relative;
          z-index: $default-nav-zindex;
          em {
            display: block;
            width: 100%;
            height: 2px;
            background: $default-background-color;
            margin-top: 4px;
            transition: transform .3s $ease-in-out, opacity .3s $ease-in-out;
          }
          :first-child {
            margin-top: 0;
          }
        }
        &.open {
          .header-mobile-nav-bar {
            em {
              &:nth-child(1) {
                transform: translateY(6px) rotate(45deg);
              }
              &:nth-child(2) {
                opacity: 0;
              }
              &:nth-child(3) {
                transform: translateY(-6px) rotate(-45deg);
              }
            }
          }
          .header-mobile-nav-text {
            opacity: 1;
            pointer-events: auto;
            transition-timing-function: $ease-out;
            .ant-menu > li {
              font-size: 1rem;
              &:last-child {
                .ant-menu-submenu-title {
                  padding-bottom: 4%;
                  height: auto;
                }
              }
              > ul {
                background: #00152a;
                border-top: 1px solid rgba(233, 233, 233, 0.1);
                box-shadow: none;
              }
            }
          }
        }
        &-text {
          opacity: 0;
          @include custom-position(fixed,$top:0,$right:0);
          @include square(100%);
          padding-top: $default-nav-height;
          transition: opacity .3s $ease-in;
          pointer-events: none;
          background: #00152a;
          .ant-menu-item-selected {
            border: none;
          }
        }
      }
    }  
  }
}