@import '../../styles/basics/mixin';

.exception {
  position: relative;
  min-height: calc(100vh - #{$default-nav-height});
  ul {
    @include ul-initialize;
    @include custom-position(absolute,$top:50%,$left:50%);
    transform: translate(-50%,-50%);
    width: 80%;
    li {
      width: 50%;
      float: left;
      &:first-child {
        height: 21rem;
        margin-top: 6%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
      }
      &:last-child {
        padding: 8% 4.5% 0;
        h1 {
          color: #434e59;
          font-size: 4.8rem;
          font-weight: 600;
          line-height: 2;
          margin-bottom: 2%;
        }
        .desc {
          color: rgb(44, 39, 39);
          font-size: 1.5rem;
          line-height: 2rem;
          margin-bottom: 2%;
        }
        .actions {
          button {
            @include button-initialize($width:rem(50px),$height:rem(50px));
          }
          button:not(:last-child) {
            margin-right: 2%;
          }
        }
      }
    }
  }
}