@import '../../styles/mixin';
:global {
	.media-content-list {
    //common
    .content-template-wrapper {
      position: relative;
      @include size(100%,auto);
      background: $default-background-color;
      border-color: $template-footer-text-color;
      padding: 2% 0;
      .content-template {
        @include square(100%);
        max-width: 1280px;
        margin: auto;
        position: relative;
        & > h1, & > p {
          text-align: center;
          @include custom-position(relative,$top:10%);
        }
        h1 {
          font-size: $default-content-fz-md;
          font-weight: normal;
          color: $template-h1-color;
          line-height: rem(48px);
        }
        > p {
          font-size: #{$default-content-fz-xs - .1rem};
          margin: 1.4rem auto;
          opacity: .85;
        }
      }
    }
    .content-half-wrapper {
      height: 50vh;
    }
    //content1
		.content1 {
      &-wrapper {
        padding-top: 4.5%;
        .content1 {
          width: 88%;
          .ant-timeline {
            padding: 3% 5% 0;

            li {
              &:not(:last-child) {
                padding-bottom: 5rem;
              }              
            }
          }
         
        }
      }
    }
    
  }

  @media screen and (max-width: 767px) {
    .media-content-list {
      .content-template-wrapper {
        .content-template {
          overflow: hidden;
          width: 98%;
          padding-top: 4%;
          h1 {
            font-size: $default-content-fz-md;
          }
          > p {
            font-size: $default-content-fz-nl;
            max-width: 90%;
          }
        }
      }
      //content1
      .content1 {
        &-wrapper {
          .content1 { 
            ul {
              > li {
                display: block;
                width: 90%;
                margin: auto;
                .text {
                  > h1 {
                    font-size: $default-content-fz-sm;
                  }
                }
              }
            }
          }
        }
      }
    } 
  }
  @media screen and (min-width:768px) and (max-width:1024px){
    .media-content-list {
      .content-template-wrapper > .content-template {
        padding-top: 10%;
        > p {
          max-width: 75%;
        }
      }
      .content1 {
        &-wrapper {
          .content1 { 
            ul > li {
              padding-left: 1.5%;
              .text {
                padding-left: 15.6%;
                > h1 {
                  font-size: $default-content-fz-lm;
                }
              }
            }
          }
        }
      }
    }
  }
}